@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f8edeb;

  font-family: "Lato", sans-serif;
}
#heading {
  text-align: center;
  padding: 1rem;
  font-size: 3rem;
  margin: 3rem 0;
}
#description {
  font-weight: 600;
 margin:0 auto;
  text-align: center;
  font-size: 1.4rem;
  padding: 1rem;
}
.input-container {
  padding: 1rem;
  max-width: 600px;
  margin: 2rem auto;
}
#check-btn {
  display: block;
  margin: 1rem auto;
  padding: 0.6rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  border: 1px solid black;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
}
#check-btn:hover {
  background-color: #ffb4a2;
}
input {
  padding: 0.6rem;
  width: 70%;
  display: block;
  border-radius: 0.3rem;
  border: 1px solid black;
  margin: 0.5rem auto;
}
label {
  display: block;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.2rem;
  text-align: center;
}
#output {
  background-color: #ffb4a2;
  margin: 2rem auto;
  width: 90%;
  text-align: center;
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 0.3rem;
  border: 1px solid black;
}
footer {
  /* background-color: #f77f0030; */
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
  
}
footer h2 {
  text-decoration: underline;
}
.footer-link {
  list-style-type: none;
  display: inline-block;
  padding: 0.7rem;
  font-size: 1rem;
}
.footer-link a {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}